In [19]:
import pandas as pd
import numpy as np

In [20]:
data_df = pd.read_csv('D:/pandas_journey/mydata/food_delivery_datasets.csv')

In [21]:
data_df.head(100)

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587
...,...,...,...,...,...,...,...,...,...,...,...
95,FOOD-10441,0,2018-08-12T07:49:24.372746,889,22100,158214,5.0,4000,742610474,Completed,0.412063
96,FOOD-10811,0,2018-09-14T18:51:41.340585,31,58500,1479204,NaN,4000,742682475,Cancelled,0.183052
97,FOOD-10034,0,2018-07-04T14:32:43.483011,1628,69800,1305973,NaN,9000,742636848,Completed,0.305456
98,FOOD-10582,0,2018-08-25T20:49:28.694474,1244,101500,1406088,NaN,8000,742598572,Completed,0.827658
99,FOOD-10259,0,2018-07-25T17:06:58.342975,2575,102300,532173,5.0,8000,742578635,Completed,0.901542

In [22]:
print(data_df.loc[:, :])

        order_id  voucher_amount                   date_time  eta_seconds  \
0     FOOD-10455               0  2018-08-12T20:35:08.001006         1800
1     FOOD-10985               0  2018-09-23T17:44:12.243273         2173
2     FOOD-10911               0  2018-09-19T18:08:09.387991         1418
3     FOOD-10932               0  2018-09-21T01:24:35.272499         1903
4     FOOD-10961               0  2018-09-22T17:57:45.523161         1716
...          ...             ...                         ...          ...
1071  FOOD-10921               0  2018-09-20T15:01:52.152828          900
1072  FOOD-10265            5000  2018-07-26T14:43:23.655294         1579
1073  FOOD-10534               0  2018-08-21T20:10:59.283185         2606
1074  FOOD-10158               0  2018-07-16T14:42:23.214427         2428
1075  FOOD-10770               0  2018-09-11T14:18:19.494258         1547

      food_price  cust_id  rating  delivery_fee   resto_id     status  \
0          18900  1089034     5.0          4000  742638033  Completed
1         149000   180146     5.0         11000  742767245  Completed
2          43800   366528     NaN          9000  742618303  Completed
3          39900   511038     5.0         14000  742541172  Completed
4          77700  1220358     NaN          4000  742604875  Completed
...          ...      ...     ...           ...        ...        ...
1071      103200  1296335     5.0          4000  742742150  Completed
1072      145700  1135466     5.0          7000  742566851  Completed
1073      177200  1383625     NaN         15000  742571888  Completed
1074       49300  1094787     5.0          9000  742725064  Completed
1075       43000  1010922     5.0          9000  742594499  Completed

      random_id
0      0.511149
1      0.832936
2      0.828026
3      0.239377
4      0.995587
...         ...
1071   0.248328
1072   0.268251
1073   0.132528
1074   0.167946
1075   0.358051

[1076 rows x 11 columns]

In [23]:
print(data_df.describe())

       voucher_amount  eta_seconds     food_price       cust_id      rating  \
count     1076.000000  1076.000000    1076.000000  1.076000e+03  598.000000
mean      1053.903346  1632.289033   78041.821561  8.274251e+05    4.946488
std       3127.726510   948.628732   58512.508208  4.380402e+05    0.295946
min          0.000000     2.000000   12900.000000  2.289500e+04    1.000000
25%          0.000000  1074.750000   38200.000000  3.667210e+05    5.000000
50%          0.000000  1605.500000   59200.000000  8.547090e+05    5.000000
75%          0.000000  2151.000000  101100.000000  1.230166e+06    5.000000
max      25000.000000  6082.000000  448500.000000  1.548571e+06    5.000000

       delivery_fee      resto_id    random_id
count   1076.000000  1.076000e+03  1076.000000
mean    9252.788104  7.275119e+08     0.498824
std     6723.595497  8.923529e+07     0.288533
min        0.000000  2.000006e+08     0.001616
25%     4000.000000  7.425411e+08     0.246024
50%     9000.000000  7.425990e+08     0.490014
75%    12000.000000  7.426671e+08     0.757871
max    44000.000000  7.428147e+08     0.999124

In [24]:
print(data_df.loc[:, ['order_id','food_price']])

        order_id  food_price
0     FOOD-10455       18900
1     FOOD-10985      149000
2     FOOD-10911       43800
3     FOOD-10932       39900
4     FOOD-10961       77700
...          ...         ...
1071  FOOD-10921      103200
1072  FOOD-10265      145700
1073  FOOD-10534      177200
1074  FOOD-10158       49300
1075  FOOD-10770       43000

[1076 rows x 2 columns]

In [25]:
sort_harga = data_df.sort_values(by="food_price", ascending=False)
print(sort_harga)

        order_id  voucher_amount                   date_time  eta_seconds  \
128   FOOD-10212               0  2018-07-21T18:55:34.457186         2723
10    FOOD-10386               0  2018-08-06T14:57:55.985171         2673
67    FOOD-10633               0  2018-08-31T11:47:18.090120         2474
827   FOOD-10565               0  2018-08-24T12:13:00.042608         1936
1037  FOOD-10781               0  2018-09-12T17:37:10.213124         2528
...          ...             ...                         ...          ...
864   FOOD-10439               0  2018-08-11T20:16:56.407026          652
851   FOOD-11013               0  2018-09-25T18:40:28.904590         1552
858   FOOD-10395               0  2018-08-07T14:52:58.764328          836
412   FOOD-10898               0  2018-09-18T13:59:20.321082         1228
202   FOOD-10654               0  2018-09-01T17:22:30.082466         1701

      food_price  cust_id  rating  delivery_fee   resto_id     status  \
128       448500  1484937     5.0         13000  742526785  Completed
10        437800  1163202     5.0         12000  742554110  Completed
67        397600  1505030     4.0         21000  742526724  Completed
827       365800  1505030     4.0         20000  742526724  Completed
1037      350500   361927     NaN         21000  742524646  Completed
...          ...      ...     ...           ...        ...        ...
864        16000   228764     NaN          9000  742706753  Completed
851        15700   293834     NaN          2000  742807054  Completed
858        15200   472466     5.0          9000  742603023  Completed
412        14200   588886     5.0          4000  742548078  Completed
202        12900  1284060     5.0          9000  742624235  Completed

      random_id
128    0.469235
10     0.485939
67     0.734508
827    0.912690
1037   0.674128
...         ...
864    0.815192
851    0.753612
858    0.093072
412    0.751653
202    0.716985

[1076 rows x 11 columns]

In [26]:
print(sort_harga.iloc[0])

order_id                          FOOD-10212
voucher_amount                             0
date_time         2018-07-21T18:55:34.457186
eta_seconds                             2723
food_price                            448500
cust_id                              1484937
rating                                     5
delivery_fee                           13000
resto_id                           742526785
status                             Completed
random_id                           0.469235
Name: 128, dtype: object